<!-- ###TEMPLATE_MAIL_301### begin -->
<!-- ###MAIL_SUBJECT### begin -->
Umgeleitet - ###request###
<!-- ###MAIL_SUBJECT### end -->
<!-- ###MAIL_TEXT### begin -->
Die folgende Seite wurde umgeleitet.

von : ###request###
nach: ###replace###

Datum: ###date###
Zeit : ###time###

Referer : ###referer###

Browser    : ###remote_browser###
Remote-IP  : ###remote_ip###
Remote-Name: ###remote_name###
<!-- ###MAIL_TEXT### end -->
<!-- ###TEMPLATE_MAIL_301### end -->

<!-- ###TEMPLATE_MAIL_302### begin -->
<!-- ###MAIL_SUBJECT### begin -->
Umgeleitet - ###request###
<!-- ###MAIL_SUBJECT### end -->
<!-- ###MAIL_TEXT### begin -->
Die folgende Seite wurde umgeleitet.

von : ###request###
nach: ###replace###

Datum: ###date###
Zeit : ###time###

Referer : ###referer###

Browser    : ###remote_browser###
Remote-IP  : ###remote_ip###
Remote-Name: ###remote_name###
<!-- ###MAIL_TEXT### end -->
<!-- ###TEMPLATE_MAIL_302### end -->


<!-- ###TEMPLATE_MAIL_403### begin -->
<!-- ###MAIL_SUBJECT### begin -->
Zugriff verweigert - ###request### - ###remote_ip### - ###remote_name###
<!-- ###MAIL_SUBJECT### end -->
<!-- ###MAIL_TEXT### begin -->
Zugriff verweigert

###request###

Datum: ###date###
Zeit : ###time###

Referer : ###referer###

Browser    : ###remote_browser###
Remote-IP  : ###remote_ip###
Remote-Name: ###remote_name###
<!-- ###MAIL_TEXT### end -->
<!-- ###TEMPLATE_MAIL_403### end -->


<!-- ###TEMPLATE_MAIL_404### begin -->
<!-- ###MAIL_SUBJECT### begin -->
Nicht gefunden - ###request### - ###remote_ip### - ###remote_name###
<!-- ###MAIL_SUBJECT### end -->
<!-- ###MAIL_TEXT### begin -->
Die folgende Seite wurde nicht gefunden.

###request###

Datum: ###date###
Zeit : ###time###

Referer : ###referer###

Browser    : ###remote_browser###
Remote-IP  : ###remote_ip###
Remote-Name: ###remote_name###
<!-- ###MAIL_TEXT### end -->
<!-- ###TEMPLATE_MAIL_404### end -->
